
.current-attempt {
  flex: 3 0 400px;

  box-shadow: 2px 0 8px rgba(0,0,0,.35), 2px 4px 32px rgba(0,0,0,.35);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
