scramble-bar {
  display: grid;
  place-content: center;
  background-color: var(--main-theme-color);
  color: white;
  box-shadow: 0 0 4px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 28%);
  overflow: hidden;
  padding: 1em;

  contain: strict;
  box-sizing: border-box;
  overflow: hidden;
}

scramble-bar.dim {
  color: rgb(255, 255, 250, 0.4);
}
