
time-display {
  grid-area: main;
  display: grid;
  place-content: center;
  box-sizing: border-box;
  overflow: hidden;
  /* font-size: 15rem; */
  font-family: digital-7, monospace;
  padding: 0.25em;
  contain: strict;
  grid-auto-flow: column;
  align-items: baseline;
  /* --main-theme-color-dark: --main-theme-color-dark; */
}

time-display.vertical {
  display: grid;
  place-content: center;
  grid-auto-flow: row;
}

time-display.vertical > * {
  display: grid;
  place-content: center;
}

time-display time-dot {
  display: inline;
}

time-display.vertical time-dot {
  display: none;
}

time-emphasized {
  display: grid;
  grid-auto-flow: column;
}

time-first {
  font-family: digital-7, monospace;
}

time-dot,
time-de-emphasized {
  opacity: 0.25;
  font-size: 50%;
}

time-de-emphasized {
  font-family: digital-7-mono, monospace;
}

time-display {
  transition: color 0.25s;
  transition: background-color 0.25s;
}

time-display.highlight {
  color: white;
  background: var(--main-theme-color);
}
