@font-face {
  font-family: digital-7-mono;
  src: url("lib/digital-7-mono.ttf") format("truetype");
}

@font-face {
  font-family: digital-7;
  src: url("lib/digital-7.ttf") format("truetype");
}

body, div, span {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  background: #f2f2f2;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.timer-app {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center
}


.scramble-bar, .event-select select {
  font-size: 5vh;
  font-family: Helvetica, "Tahoma", sans-serif;
  color: white;
}

.scramble-bar {
  flex: 0 0 auto;
  width: 100%;
  padding: 0.25em 0;
  background: #4285f4;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  flex-wrap: wrap;
}

.event-select {
  flex: 0 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0 0.3em;
  margin: 0.25em 1em;
  background: rgba(255, 255, 255, .25);
}

.event-select .cubing-icon {
  vertical-align: middle;
}

.event-select select {
  vertical-align: middle;
  height: 1.5em;
  border: 0px solid white;
  cursor: pointer;
  background: none;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.scramble-text {
  flex: 1 0 65vw;
  white-space: normal;
  margin: 0.25em 1em;
}

a.scramble-text {
  color: inherit;
  text-decoration: none;
}

a.scramble-text:hover {
  text-decoration: underline;
}

.timer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Slow down transitions into some states. */
.timer.HandOnTimer,
.timer.Ready {
  transition: background-color 0.1s, color 0.1s;
}

.timer.HandOnTimer,
.timer.Stopped {
  color: white;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time > div {
  flex: auto;
}

.time {
  font-size: 30vw;
  font-family: digital-7-mono, monospace;
}

.invisible {
  opacity: 0;
}

@media (max-aspect-ratio: 1/1) {
  .time {
    font-size: 30vh;
  }
}

@media (min-aspect-ratio: 1/1) {
  .time {
    flex-direction: row;
    align-items: baseline;
  }
  .invisible {
    display: none;
  }
}

@media (min-aspect-ratio: 2/1) {
  .time {
    font-size: 50vh;
  }
}

.time .sec-first {
  font-family: digital-7;
}

.time .milli {
  font-size: 0.5em;
  opacity: 0.25;
}

.timer-app.theme-orange > .scramble-bar,
.timer-app.theme-orange > .timer.HandOnTimer,
.timer-app.theme-orange > .timer.Stopped {
  background-color: #f95b2a;
}

.timer-app.theme-green > .scramble-bar,
.timer-app.theme-green > .timer.HandOnTimer,
.timer-app.theme-green > .timer.Stopped {
  background-color: #0d904f;
}

.timer-app.theme-red > .scramble-bar,
.timer-app.theme-red > .timer.HandOnTimer,
.timer-app.theme-red > .timer.Stopped {
  background-color: #ce2e20;
}

.timer-app.theme-blue > .scramble-bar,
.timer-app.theme-blue > .timer.HandOnTimer,
.timer-app.theme-blue > .timer.Stopped {
  background-color: #4285f4;
}
