@font-face {
  font-family: digital-7-mono;
  src: url("lib/digital-7-mono.ttf") format("truetype");
}

@font-face {
  font-family: digital-7;
  src: url("lib/digital-7.ttf") format("truetype");
}

body, div, span {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  background: #f2f2f2;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.timer-app {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center
}


.scramble-bar, .event-select select {
  font-size: 5vh;
  /* Would use Roboto, except that primes (') are easier to read in Helvetica. */
  font-family: Helvetica, "Tahoma", sans-serif;
  color: white;
}

.scramble-bar {
  flex: 0 0 auto;
  width: 100%;
  padding: 0.25em 0;
  background: #4285f4;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  flex-wrap: wrap;
}

.event-select {
  flex: 0 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0 0.3em;
  margin: 0.25em 1em;
  background: rgba(255, 255, 255, .25);
}

.event-select .cubing-icon {
  vertical-align: middle;
}

.event-select select {
  vertical-align: middle;
  height: 1.5em;
  border: 0px solid white;
  cursor: pointer;
  background: none;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.scramble-text {
  flex: 1 0 65vw;
  white-space: normal;
  margin: 0.25em 1em;
  text-align: justify;
  text-align-last: center;
  -moz-text-align-last: center;
}

.scramble-text.stale {
  opacity: 0.25;
}

.scramble-text.event-sq1,
.scramble-text.event-444,
.scramble-text.event-444bf {
  font-size: 4vh;
}

.scramble-text.event-555,
.scramble-text.event-555bf,
.scramble-text.event-clock {
  font-size: 3vh;
}

.scramble-text.event-666,
.scramble-text.event-777,
.scramble-text.event-minx {
  font-size: 2.5vh;
}

.timer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Slow down transitions into some states. */
.timer.ready {
  transition: background-color 0.5s, color 0.5s;
}

.timer.handOnTimer,
.timer.stopped {
  color: white;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0.75em;
}

.time > div {
  flex: auto;
}

.time {
  font-size: 30vw;
  font-family: digital-7-mono, monospace;
  margin-top: 5vh;
}

.invisible {
  opacity: 0;
}

@media (max-aspect-ratio: 1/1) {
  .time {
    font-size: 30vh;
  }
  .dot {
    display: none;
  }
}

@media (min-aspect-ratio: 1/1) {
  .time {
    flex-direction: row;
    align-items: baseline;
  }
  .invisible {
    display: none;
  }
}

@media (min-aspect-ratio: 2/1) {
  .time {
    font-size: 50vh;
  }
}

.time .sec-first {
  font-family: digital-7;
}

.time .decimals {
  font-size: 0.5em;
  line-height: 1em;
  opacity: 0.25;
}

.stats {
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  color: black;
  width: 100%;

}

.stats select {
  font-size: 5vh;
  font-family: Roboto, Helvetica, "Tahoma", sans-serif;
  color: white;

  vertical-align: middle;
  height: 2.5em;
  /*width: 100%;*/
  padding: 0 2em;
  border: 0px solid white;
  cursor: pointer;
  background: none;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  text-align: center;
  text-align-last: center;
  color: rgba(0, 0, 0, 0.5);
}

.stats option {
  text-align: left;
}

.timer-app.theme-orange > .scramble-bar,
.timer-app.theme-orange > .timer.handOnTimer,
.timer-app.theme-orange > .timer.stopped,
.timer-app.theme-orange .event-select select option {
  background-color: #f95b2a;
}

.timer-app.theme-green > .scramble-bar,
.timer-app.theme-green > .timer.handOnTimer,
.timer-app.theme-green > .timer.stopped,
.timer-app.theme-green .event-select select option {
  background-color: #0d904f;
}

.timer-app.theme-red > .scramble-bar,
.timer-app.theme-red > .timer.handOnTimer,
.timer-app.theme-red > .timer.stopped,
.timer-app.theme-red .event-select select option {
  background-color: #ce2e20;
}

.timer-app.theme-blue > .scramble-bar,
.timer-app.theme-blue > .timer.handOnTimer,
.timer-app.theme-blue > .timer.stopped,
.timer-app.theme-blue .event-select select option {
  background-color: #4285f4;
}
