@font-face {
  font-family: digital-7-mono;
  src: url("../resources/vendor/fonts/digital-7/digital-7-mono.ttf") format("truetype");
}

@font-face {
  font-family: digital-7;
  src: url("../resources/vendor/fonts/digital-7/digital-7.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../resources/vendor/fonts/ubuntu/Ubuntu-Regular.ttf");
}

* {
  box-sizing: border-box;
  --main-text-size: min(max(min(5vh, 2.5rem), 1vw), 4vh);
  --main-text-size-smaller: min(max(min(4vh, 2rem), 1vw));
  --main-text-size-smallest: min(max(min(3vh, 1.5rem), 1vw), 2.5vh);
}

body,
div,
span {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Ubuntu, Roboto, Helvetica, Tahoma, sans-serif;
}

@supports (width: 100dvw) {

  html,
  body {
    width: 100dvw;
    height: 100dvh;
  }
}

body {
  /* display: flex; */
  background: #f2f2f2;
}

.timer {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.timer-app {
  /* flex: 3; */
  /* display: flex; */
  /* flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center; */
  width: 100%;
  height: 100%;
}

a#update-bar {
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.75);
  width: 100%;
  font-size: var(--main-text-size);
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 2vh;
  box-sizing: border-box;

  height: 10vh;
  transition: height 0.25s;
}

a#update-bar:hover {
  color: rgba(255, 255, 255, 0.75);
}

a#update-bar.hidden {
  height: 0;
}

.scramble-bar,
.event-select select {
  /* Would use Roboto, except that primes (') are easier to read in Helvetica. */
  color: white;
}

.event-select select {
  font-size: var(--main-text-size);
}

.scramble-bar {
  /* flex: 0 0 auto; */
  width: 100%;
  padding: 0.25em 0;
  background: #4285f4;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  flex-wrap: wrap;
  overflow: hidden;
}

.event-select {
  /* flex: 0 0 auto; */
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0 0.3em;
  margin: 0.25em 1em;
  background: rgba(255, 255, 255, .25);
}

.event-select .cubing-icon {
  vertical-align: middle;
}

.event-select select {
  vertical-align: middle;
  height: 1.5em;
  border: 0px solid white;
  cursor: pointer;
  background: none;
  text-align: center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.scramble-text {
  /* flex: 1 0 65vw; */
  white-space: normal;
  margin: 0.25em 1em;
  text-align: center;
}

.generating {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }

  75% {
    opacity: 1
  }

  100% {
    opacity: 0.3
  }
}

.scramble-text {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  line-height: 1.25em;
  font-size: var(--main-text-size);
}

.generating {
  font-size: var(--main-text-size)
}

.scramble-text:not(.show-scramble) twisty-alg-viewer {
  display: none;
}

.scramble-text.show-scramble .generating {
  display: none;
}

@supports ((text-align-last: center) or (-moz-text-align-last: center)) {
  .scramble-text {
    text-align: justify;
    text-align-last: center;
    -moz-text-align-last: center;
  }
}

.scramble-text.stale {
  opacity: 0.25;
}

twisty-player.dim {
  animation: pulse-dimmer 1s infinite;
}

@keyframes pulse-dimmer {
  0% {
    opacity: 0.3;
  }

  75% {
    opacity: 0.5
  }

  100% {
    opacity: 0.3
  }
}

.scramble-text.event-sq1,
.scramble-text.event-444,
.scramble-text.event-444bf,
.scramble-text.event-fto,
.scramble-text.event-clock {
  font-size: var(--main-text-size-smaller);
}

.scramble-text.event-555,
.scramble-text.event-555bf {
  font-size: var(--main-text-size-smaller);
}

.scramble-text.event-666,
.scramble-text.event-777 {
  font-size: var(--main-text-size-smallest);
}

.scramble-text.event-minx {
  font-size: min(var(--main-text-size-smallest), 3vw);
}

.scramble-text.event-minx {
  font-family: monospace;
  text-align: start !important;
  text-align-last: start !important;
}

.timer {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Slow down transitions into some states. */
.timer.ready {
  transition: background-color 0.5s, color 0.5s;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0.75em;
}

.time>div {
  flex: auto;
}

.time {
  font-size: 25vw;
  font-family: digital-7-mono, monospace;
  margin-top: var(--main-text-size);
}

.invisible {
  opacity: 0;
}

@media (max-aspect-ratio: 1/1) {
  .time {
    font-size: min(30vh, 60vw);
  }

  .dot {
    display: none;
  }

  a#update-bar {
    font-size: 5vw;
  }
}

@media (min-aspect-ratio: 1/1) {
  .time {
    flex-direction: row;
    align-items: baseline;
  }

  .invisible {
    display: none;
  }
}

@media (min-aspect-ratio: 2/1) {
  .time {
    font-size: 50vh;
  }
}

.time .sec-first,
.time .sec-rest {
  font-family: digital-7;
}

.time .spacer {
  width: 0.05em;
  display: inline-block;
}

.time .extra-spacer {
  width: 0.1em;
  display: inline-block;
}

.time .decimals {
  font-size: 0.5em;
  line-height: 1em;
  opacity: 0.25;
}

.stats {
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  color: black;
  width: 100%;
}

.stats .side-bar {
  height: 100%;
}

.stats .bottom-bar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.stats .bottom-bar>a {
  height: 100%;
  /* width: 10vh; */
  padding: 0 2vw;
  display: grid;
  place-content: center;
}

.stats .bottom-bar>a:hover {
  background: #f2f2f2;
}

.stats .bottom-bar .material-icon {
  width: 1.25em;
  margin: -0.125em;
  padding: 0.125em;
  vertical-align: -0.1em;
  border-radius: 1em;
}

.stats .bottom-bar .sync-link {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.stats .bottom-bar .results-link {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.stats select {
  flex: 0 0 auto;
  font-size: var(--main-text-size);
  color: white;

  vertical-align: middle;
  height: 2.5em;
  /*width: 100%;*/
  padding: 0 0.25em;
  border: 0px solid white;
  cursor: pointer;
  background: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  text-align: center;
  text-align-last: center;
  color: rgba(0, 0, 0, 0.5);

  transition: background-color 0.5s;
}

.stats option {
  text-align: left;
}

.stats select {
  transition: color 0.5s;
}

.stats.received-data select {
  color: white;
}

.stats a {
  color: white;
}

.stats .bottom-bar a {
  font-size: min(var(--main-text-size), 10vw);
}

.stats .bottom-bar .sync {
  flex: 0 0 2.5em;
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.stats .bottom-bar a {
  text-decoration: none;
}

.stats #attempt-list tbody a {
  text-decoration: none;
}

.stats #attempt-list tbody td:first-child {
  color: white;
}

.stats .stats-summary a.sync-link {
  text-decoration: none;
}

.stats a.sync-link .material-icon {
  transition: transform 0.5s;
}

.stats a.sync-link:hover .material-icon {
  transform: rotate(-90deg);
}

.stats a.sync-link.rotate .material-icon {
  transform: rotate(-180deg);
}

.timer-app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "scramble-bar"
    "timer"
    "stats";
}

@media (min-aspect-ratio: 3/2),
(min-width: 600px) {
  .timer-app {
    grid-template-columns: 2fr minmax(15em, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "scramble-bar stats"
      "timer stats";
    height: 100%;
  }

  .timer-app .stats .bottom-bar {
    display: none;
  }

  .timer-app .stats {
    background: rgba(0, 0, 0, 0.75);
    box-shadow: inset 8px 0 8px -8px rgba(0, 0, 0, 1);
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* Lets it scroll lazy */
  }

  .timer-app .stats .side-bar {
    display: inherit;
    color: rgba(255, 255, 255, 0.5);
  }

  .timer-app.theme-orange .stats {
    background-color: #4D2214;
  }

  .timer-app.theme-green .stats {
    background-color: #162F1D;
  }

  .timer-app.theme-red .stats {
    background-color: #3F140F;
  }

  .timer-app.theme-blue .stats {
    background-color: #1C2C4F;
  }
}

.scramble-bar {
  grid-area: scramble-bar;
}

.timer {
  grid-area: timer;
}

.timer-app:not(.hide-scramble-display) .timer.ready-down .time,
.timer-app:not(.hide-scramble-display) .timer.ready-up .time {
  display: none;
}

.timer-app.hide-scramble-display #scramble-display,
.timer:not(.ready-down):not(.ready-up) #scramble-display {
  display: none;
}

#scramble-display {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-content: center;
  grid-template-columns: 0.75fr;
  grid-template-rows: 0.75fr;
}

twisty-player {
  contain: size;
  width: 100%;
  height: 100%;
}

.stats {
  grid-area: stats;
}

.stats .side-bar {
  display: none;
  font-size: var(--main-text-size-smaller);
}

.stats-summary {
  padding: 0.5em 0.25em;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
  /* box-shadow: 0 0 4px rgba(0,0,0,.25), 0px 4px 8px rgba(0,0,0,.25); */
}

.stats-summary table td:nth-child(2) {
  color: white;
}

.stats-summary table {
  border-collapse: collapse;
  margin: auto;
}

.stats-summary table tbody:not(:first-child) tr:first-child td {
  padding-top: 0.5em;
}

.stats-summary table td:first-child {
  text-align: right;
}

.stats-summary table td:last-child {
  padding-left: 0.5em;
  text-align: left;
}

table#attempt-list {
  border-collapse: collapse;
  font-size: 0.75em;
  width: 100%;
}

table#attempt-list td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.25em 0.25em;
  text-align: center;
}

table#attempt-list td .material-icon {
  vertical-align: -50%;
}

table#attempt-list tr:hover {
  background: rgba(255, 255, 255, 0.125);
}

table#attempt-list .material-icon {
  vertical-align: bottom;
  opacity: 0.5;
}

table#attempt-list button {
  padding: 0;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.5);
}

table#attempt-list tbody .material-icon:hover {
  cursor: pointer;
  opacity: 1;
  /* background: rgba(255, 255, 255, 0.25); */
  /* box-shadow: 0 0 0.25em 0.25em rgba(255, 255, 255, 0.25); */
}


table#attempt-list td:first-child {
  text-align: right;
}

table#attempt-list thead {
  text-align: center;
}

.timer-app.theme-orange>.scramble-bar,
.timer-app.theme-orange>.timer.handOnTimer,
.timer-app.theme-orange>.timer.stopped,
.timer-app.theme-orange>.timer.done,
.timer-app.theme-orange .event-select select option,
.timer-app.theme-orange .stats.received-data {
  background-color: #f95b2a;
}

.timer-app.theme-green>.scramble-bar,
.timer-app.theme-green>.timer.handOnTimer,
.timer-app.theme-green>.timer.stopped,
.timer-app.theme-green>.timer.done,
.timer-app.theme-green .event-select select option,
.timer-app.theme-green .stats.received-data {
  background-color: #0d904f;
}

.timer-app.theme-red>.scramble-bar,
.timer-app.theme-red>.timer.handOnTimer,
.timer-app.theme-red>.timer.stopped,
.timer-app.theme-red>.timer.done,
.timer-app.theme-red .event-select select option,
.timer-app.theme-red .stats.received-data {
  background-color: #ce2e20;
}

.timer-app.theme-blue>.scramble-bar,
.timer-app.theme-blue>.timer.handOnTimer,
.timer-app.theme-blue>.timer.stopped,
.timer-app.theme-blue>.timer.done,
.timer-app.theme-blue .event-select select option,
.timer-app.theme-blue .stats.received-data {
  background-color: #4285f4;
}

.timer.handOnTimer,
.timer.stopped,
.timer.done {
  color: white;
}

.timer.handOnTimer .time .decimals,
.timer.stopped .time .decimals,
.timer.done .time .decimals {
  opacity: 0.4
}
