* {
  --main-theme-color: #4285f4;
  --main-theme-color-dark: #1c2c4f;

  box-sizing: border-box;
}

@font-face {
  font-family: digital-7-mono;
  src: url("../vendor/fonts/digital-7-mono.ttf") format("truetype");
}

@font-face {
  font-family: digital-7;
  src: url("../vendor/fonts/digital-7.ttf") format("truetype");
}

html, body, timer-app {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Ubuntu, Tahoma, sans-serif;
}

timer-app {
  display: grid;
  grid-template-areas: "scramble-bar timer-stats" "twisty-player timer-stats" "time-display timer-stats";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 4fr;
}

scramble-bar {
  grid-area: scramble-bar;
  display: grid;
  place-content: center;
  background-color: var(--main-theme-color);
  color: white;
  box-shadow: 0 0 4px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 28%);
  overflow: hidden;
  padding: 1em;
  text-align: center;
}

event-select {
  grid-area: event-select;
}

twisty-alg-viewer {
  grid-area: twisty-alg-viewer;
  display: grid;
  place-content: center;
}

twisty-player {
  grid-area: twisty-player;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

time-display {
  grid-area: time-display;
  display: grid;
  place-content: center;
  box-sizing: border-box;
  overflow: hidden;
  /* font-size: 15rem; */
  font-family: digital-7, monospace;
}

time-display.vertical span {
  display: grid;
  place-content: center;
  grid-auto-columns: 1fr;
}

time-display.vertical span > * {
  display: grid;
  place-content: center;
}

time-display > span {
  margin: 0.25em;
}

time-display time-dot {
  display: inline
}

time-display.vertical time-dot {
  display: none;
}

time-dot, time-decimals {
  opacity: 0.25;
}

time-decimals {
  font-family: digital-7-mono, monospace;
}

timer-stats {
  grid-area: timer-stats;
  padding: 1em;
  background: var(--main-theme-color-dark);
  box-shadow: inset 8px 0 8px -8px #000;
  color: white;
}
