* {
  --main-theme-color: #4285f4;
  --main-theme-color-dark: #1c2c4f;

  box-sizing: border-box;
}

@font-face {
  font-family: digital-7-mono;
  src: url("../vendor/fonts/digital-7-mono.ttf") format("truetype");
}

@font-face {
  font-family: digital-7;
  src: url("../vendor/fonts/digital-7.ttf") format("truetype");
}

html,
body,
timer-app {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Ubuntu, Tahoma, sans-serif;
}
