timer-app {
  display: grid;
  grid-template-areas:
    "scramble-bar timer-stats"
    "main timer-stats";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 4fr;
}

scramble-bar {
  grid-area: scramble-bar;
}

event-select {
  grid-area: event-select;
}

twisty-alg-viewer {
  grid-area: twisty-alg-viewer;
  display: grid;
  place-content: center;
}

twisty-player {
  grid-area: main;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

time-display {
  grid-area: main;
}

timer-stats {
  grid-area: timer-stats;
  padding: 1em;
  background: var(--main-theme-color-dark);
  box-shadow: inset 8px 0 8px -8px #000;
  color: white;
}

/* Event-specific tweaks */

timer-app.event-minx {
  grid-template-rows: 1.8fr 4fr;
}

twisty-player {
  display: none;
  padding: 1em;
}

timer-app.event-minx twisty-alg-viewer {
  text-align: left;
  font-family: monospace;
}

timer-app.hide-time time-display {
  display: none;
}

timer-app.hide-time twisty-player {
  display: inherit;
}

timer-app.hide-time {
  grid-template-areas:
    "scramble-bar timer-stats"
    "main timer-stats";
}
